<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheet.css">

        <meta charset="utf-8">
      <title id="title"> THE PROWLER</title>
    </head>
    <center>
        <body>
            <h1 id="headingOne">The PROWLER</h1>
            <h2 id="headingTwo">HOME</h2>
            <thead>
                <tr>
                    <th id="forumsbutton"> <a target="blank" href ="forums.html"> <img src="forums.jpg" alt= "forums link"> </a></th> &nbsp;
                    <th id="indexbutton"> <a target="blank" href ="index.html"> <img src="home.jpg" alt= "home link"> </a></th> &nbsp;
                    <th id="lorebutton"> <a target="blank" href ="lore.html"> <img src="lore.jpg" alt= "lore link"> </a></th> &nbsp;
                </tr>
            </thead>
            <p>This website was made to bring to light the happenings of The <b>Prowler</b>....</p>
            <img id="Prowler" src="the_prowler_primeSight.jpg" alt="Prowler">
        </body>
    </center>
</html>
